@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-modern {
    @apply mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md text-sm shadow-sm placeholder-gray-400
    focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
  }
}

#loading-overlay {
    display: none; /* Defaultnya tersembunyi */
}

#loading-overlay.flex {
    display: flex; /* Kelas 'flex' akan digunakan untuk menampilkannya */
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Warna abu-abu terang */
    border-top: 5px solid #3b82f6; /* Warna biru */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
